
.red {
    font-weight: bold;
}

.bold {
    background-color: red;
}

.btn {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: lightgreen;
    color: black;
}

.btn-red {
    background-color: red;
}
.btn-red:hover {
    background-color: salmon;
    color: black;
}
