.settings {
    max-width: 600px;
}

.settings-items {
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    flex: 0 0 50%;
    max-width: 50%;
}

@media all and (min-width: 500px) {
    label {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.label button {
    width: 50px;
}

.label button:first-child {
    margin-left: auto;
}
